*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
  
   
    background: rgb(248, 248, 247);
    font-family: 'Lora', 'Open Sans', serif;
    font-size: large;

  
}
h1, h2, p{
  text-align: center;
}

#logpeq{
   width:5%;
  height:5%;
  margin: 5px;
}

#header {
  background: rgba(238, 118, 118, 0.97);
  border: none;
  margin: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}


#titulo{
  
   color: brown;
}

.boton {
	margin: 0px;
	display: block;
    float: right;
	color: rgb(119, 14, 14);
	cursor: pointer;
	position: relative;
}



label {
  cursor: pointer;
}
#menu-toggle {
  display: none; 
  
}
i{
  margin: 5px;
  color: brown;
}
#menu {
  display: none;
  text-align: center;
  background: rgba(119, 6, 6, 0.1);
  border-radius: 3px;
  padding:5px;
  width: 100%;
  height:auto;
  float: center;
  
  
}
#menu li{
    list-style: none;
}

#menu li a {
	color: rgb(122, 15, 15);
	padding:  0px;
    display: block;
    text-decoration: none;
    list-style: none;
    
}
#menu-toggle:checked + #menu {
  display: block;
}
.enlace{
  width: 50%;
  height: 30px;
  color: azure;
  background-color: brown; 
  
}
.enlace :active{
 background-color: rgb(163, 71, 71);

}
#presentacion{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
h2{
  color: rgb(5, 5, 197);
}
.capitulos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.section{
 
  background: url("../images/fondo_forma.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.integrantes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}
.integrantes img{
  margin: 3px;
}
.quienes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(248, 237, 237);
  margin: 10px;
}
.quienes h2{
  color: rgb(231, 225, 225);
}
.quienes img{
  margin: 10px;
}
.secciones{
  position: relative;
  align-items: center;
  text-align: center;
}
.secciones i{
  position: relative;
  align-items: center;
}
footer{
  background: rgba(238, 118, 118, 0.97);
  border: none;
  margin: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  margin: 10px;
}
.pierdas{
margin: 10px;
color: brown;
}

.pierdas .enlace{
  width: 300px;
  height: 50px;
}
